body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header {
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
}

main {
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

footer {
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
}






button {
	outline: none;
	background-color: transparent;
	border: 0;
	padding: 10px 20px;
	border: 2px solid #000;
	color: #000;
	transition: all .5s ease-in-out;
	cursor: pointer;

	&:hover {
		color: #fff;
		background-color: #000;
	}
}

.body-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: all 0.3s ease-in-out 0.5s;
	z-index: -1;

	&.is-visible {
		opacity: 1;
		z-index: 6;
	}
}